$default-background: #ffffff;
$main-color: #AE206B;
$default-highlight-color: #F57D38;
$secundary-highlight-color: #D14D52;
$main-shadow-color: #e0e0e0;
$main-grey: #c0c0c0;
$main-gradient: linear-gradient(to right, $default-highlight-color, $main-color);