@import '../theme/Variables';
@import '../theme/Inheritance';
@import './IonicOverride';
body {
    color: $main-color;
    background-color: $default-background;
}

input{
    &[type='text'], 
    &[type='email'], 
    &[type='password'] {
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $main-color;
        color: $main-color;
        height: 2em;
        margin: 10px 0;

        &:focus, &:focus-within, &:focus-visible {
            border: none;
            border-bottom: 1px solid $main-color;
            font-weight: 500;
            outline: none;
        }

        &::placeholder {
            @extend %placeholder;
        }
        

        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus,
        &:-internal-autofill-selected {
            border: none;
            border-bottom: 1px solid $main-color;
            -webkit-text-fill-color: $main-color;
            box-shadow: 0 0 0px 1000px $default-background inset;
            -webkit-box-shadow: 0 0 0px 1000px $default-background inset;
            transition: background-color 5000s ease-in-out 0s;
        }
    }

    &[type='submit'] {
        @extend %default-button;
    }
}

button {
    @extend %default-button;
}

a {
    @extend %default-link;
}


/*overrides of ionic styles*/
ion-select {
    height: 2em;
    border: 1px solid $main-color;
    box-sizing: border-box;

    &::part(icon) {
        opacity: 1 !important;
    }

    &::part(placeholder) {
        @extend %placeholder;
    }
}

.alert-wrapper {
    border-radius: 0 !important;
    > div {
        border-color: $main-grey;
    }
}

.alert-radio-group, .alert-button-group {
    button {
        box-shadow: none;

        &[aria-checked=true]{
            .alert-radio-icon {
                border-color: $main-color !important;
                > .alert-radio-inner {
                    background-color: $main-color !important;
                }
            }
        }

        &.alert-button {
            >.alert-button-inner {
                @extend %default-link;
            }
        }
    }
}


/**Custom Scrollbar**/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba($main-color, 0.6); 
    opacity: 1;
    position: relative;
    z-index: 500;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba($main-color, 0.8);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  }